# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.python-version

# Virtual environments
.venv/
venv/
env/

# VCS
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Editors/IDE
.idea/
.vscode/

# Local data and caches
news_info.db
.cache/
.streamlit/
